[user]
[push]
	default = matching
[core]
	editor = vim
	fileMode = false
[credential]
	helper = store
[user]
	name = Mirko Weber
	email = mirko.weber@siltronic.com
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
