ssh.symlink/id_*
ssh.symlink/id_*
ssh.symlink/known_hosts*
ssh.symlink/authorized_keys
config/sublime-text-3/Cache
config/sublime-text-3/Index
config/sublime-text-3/Local/
vim/vim.symlink/backup/*
vim/vim.symlink/undo/*
vim/vim.symlink/swp/*
vim/vim.symlink/.netrwhist
.DS_Store
ssh.symlink/podman-machine-default
ssh.symlink/podman-machine-default.pub
