'exception-reporting':
  'userId': '837d11ed-3f65-c5e3-41b0-637cd677c9b4'
'welcome':
  'showOnStartup': false
'metrics': false
'editor':
  'fontSize': 16
'core':
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
'autosave':
  'enabled': true
'tree-view': {}
'autoclose-html': {}
